<div class="col-12">
  <h2 class="mb-3">Creación de admin</h2>
  <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="register()" novalidate>
    <hr class="my-4">
    <h4 class="mb-3">Perfil</h4>
    <div class="row g-3">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="firstName" placeholder="" formControlName="firstName"
               [ngClass]="{'is-invalid': formGroup.get('firstName')?.touched && formGroup.get('firstName')?.invalid, 'is-valid': formGroup.get('firstName')?.touched && formGroup.get('firstName')?.valid}">
      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastName" placeholder="" formControlName="lastName"
               [ngClass]="{'is-invalid': formGroup.get('lastName')?.touched && formGroup.get('lastName')?.invalid, 'is-valid': formGroup.get('lastName')?.touched && formGroup.get('lastName')?.valid}">
      </div>
      <div class="col-sm-6">
        <label for="age" class="form-label">Edad</label>
        <div class="input-group has-validation">
          <input type="number" class="form-control" id="age" placeholder="27" formControlName="age" required
                 [ngClass]="{'is-invalid': formGroup.get('age')?.touched && formGroup.get('age')?.invalid, 'is-valid': formGroup.get('age')?.touched && formGroup.get('age')?.valid}">
        </div>
      </div>
      <div class="col-sm-6">
        <label for="idNumber" class="form-label">DNI</label>
        <input type="text" class="form-control" id="idNumber" formControlName="idNumber" required
               [ngClass]="{'is-invalid': formGroup.get('idNumber')?.touched && formGroup.get('idNumber')?.invalid, 'is-valid': formGroup.get('idNumber')?.touched && formGroup.get('idNumber')?.valid}">
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email@example.com" formControlName="email"
               required
               [ngClass]="{'is-invalid': formGroup.get('email')?.touched && formGroup.get('email')?.invalid, 'is-valid': formGroup.get('email')?.touched && formGroup.get('email')?.valid}">
      </div>
      <div class="col-12">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="" required="" formControlName="password"
               required
               [ngClass]="{'is-invalid': formGroup.get('password')?.touched && formGroup.get('password')?.invalid, 'is-valid': formGroup.get('password')?.touched && formGroup.get('password')?.valid}">
      </div>
      <div class="col-12">
        <label for="image1" class="form-label">Foto de perfil</label>
        <input (change)="uploadImage($event)" type="file" class="form-control" id="image1" placeholder="..."
               formControlName="image1" required
               [ngClass]="{'is-invalid': formGroup.get('image1')?.touched && formGroup.get('image1')?.invalid, 'is-valid': formGroup.get('image1')?.touched && formGroup.get('image1')?.valid}">
      </div>
    </div>
    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit"
            [disabled]="isValidForm() || (this.selectedProfile === 'specialist' && this.specialties.length === 0)"
            *ngIf="!sent">Continuar
    </button>
    <app-spinner *ngIf="sent"></app-spinner>
  </form>
</div>
