<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a *ngIf="this.userProfile.getLoggedProfile && this.userProfile.getLoggedProfile.role !== 'ADMIN'" [routerLink]="['/my-profile']" class="nav-link px-2 link-dark">Mi perfil</a></li>
      </ul>
      <div class="dropdown text-end" *ngIf="authService.isLoggedIn">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
           aria-expanded="false">Opciones
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'SPECIALIST'"><a class="dropdown-item"
                                                                            [routerLink]="['/create-diary']"
                                                                            href="#">Crear agenda de turnos</a></li>
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'SPECIALIST'"><a class="dropdown-item"
                                                                              [routerLink]="['/patient-history']"
                                                                              href="#">Pacientes</a></li>
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'ADMIN'"><a class="dropdown-item"
                                                                            [routerLink]="['/specialist-manager']"
                                                                            href="#">Gestor de especialistas</a></li>
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'ADMIN'"><a class="dropdown-item"
                                                                            [routerLink]="['/create-admin']" href="#">Crear
            administrador</a></li>
            <li *ngIf="this.userProfile.getLoggedProfile.role === 'ADMIN'"><a class="dropdown-item"
              [routerLink]="['/users']" href="#">Usuarios</a></li>
              <li *ngIf="this.userProfile.getLoggedProfile.role === 'ADMIN'"><a class="dropdown-item"
                [routerLink]="['/metrics']" href="#">Métricas</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a (click)="logOut()" class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
