<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a *ngIf="this.userProfile.getLoggedProfile" [routerLink]="['/my-profile']" class="nav-link px-2 link-dark">Mi perfil</a></li>
        <!--        <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>-->
      </ul>

      <!--      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
      <!--        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">-->
      <!--      </form>-->

      <div class="dropdown text-end" *ngIf="authService.isLoggedIn">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
           aria-expanded="false">
          <!--          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">--><span>{{this.authService.loggedUser.email}}</span>
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'SPECIALIST'"><a class="dropdown-item"
                                                                            [routerLink]="['/create-diary']"
                                                                            href="#">Crear agenda de turnos</a></li>
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'ADMIN'"><a class="dropdown-item"
                                                                            [routerLink]="['/specialist-manager']"
                                                                            href="#">Gestor de especialistas</a></li>
          <li *ngIf="this.userProfile.getLoggedProfile.role === 'ADMIN'"><a class="dropdown-item"
                                                                            [routerLink]="['/create-admin']" href="#">Crear
            administrador</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a (click)="logOut()" class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
