.badge{
  font-size: 0.9em;
}

.specialty{
  font-weight: bold;
  color: darkblue;
  cursor: pointer;
}

.form-captcha{
  padding-top: 10%;
  width: 10%;
}

.profiles{
  border: 1px solid grey;
  width:25%;
  padding: 0 3%;
}
