<div class="row">
  <div class="col">
     <div class="gap-2">
      <div *ngFor="let profile of quickAccess">
        <button (click)="onLogin(profile.user, profile.password)" class="btn btn-outline-dark quickAccessBtn" type="button">
          <img [src]=profile.photo alt="{{profile.photo}}"></button>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <form [formGroup]="formGroup" (ngSubmit)="login()" novalidate>
      <h1 class="h3 mb-3 fw-normal">Identificate</h1>
      <div class="form-floating">
        <input [(ngModel)]="user" type="email" class="form-control" id="email" formControlName="email" placeholder="email@example.com"
               [ngClass]="{'is-invalid': formGroup.get('email')?.touched && formGroup.get('email')?.invalid, 'is-valid': formGroup.get('email')?.touched && formGroup.get('email')?.valid}">
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="password" type="password" formControlName="password" class="form-control" id="password" placeholder="Password"
               [ngClass]="{'is-invalid': formGroup.get('password')?.touched && formGroup.get('password')?.invalid, 'is-valid': formGroup.get('password')?.touched && formGroup.get('password')?.valid}">
        <label for="password">Contraseña</label>
      </div>
      <div *ngIf="!sent">
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!formGroup.valid">Ingresar</button>
      </div>
      <app-spinner *ngIf="sent"></app-spinner>
    </form>
  </div>
  <div class="col">
  </div>
</div>
