<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    <h2>{{this.userProfile.getLoggedProfile.firstName}} {{this.userProfile.getLoggedProfile.lastName}}</h2>
    <img *ngFor="let img of this.userProfile.getLoggedProfile.profilePhotos" width="200" height="200"
         class="img-thumbnail" [src]=img/>
    <ul *ngIf="this.userProfile.getLoggedProfile.role === 'PATIENT'">
      <li><b>DNI:</b> {{this.userProfile.getLoggedProfile.idNumber}}</li>
      <li><b>Edad:</b> {{this.userProfile.getLoggedProfile.age}}</li>
      <li>Obra
        Social: {{this.userProfile.getLoggedProfile.socialWork}}</li>
    </ul>
    <ul *ngIf="this.userProfile.getLoggedProfile.role === 'SPECIALIST'">
      <li><b>DNI:</b> {{this.userProfile.getLoggedProfile.idNumber}}</li>
      <li><b>Edad:</b> {{this.userProfile.getLoggedProfile.age}}</li>
      <li><b>Especialidades:</b>
        <ol>
          <li *ngFor="let specialty of this.userProfile.getLoggedProfile.specialties">
            {{specialty}}</li>
        </ol>
      </li>

    </ul>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
  </div><!-- /.col-lg-4 -->
</div>
